<h1> Departments Index </h1>

<%= link_to 'Create a new department', new_department_path %>

<ul>
  <% @departments.each do |department| %>
    <li> <%= link_to department.stores, department %> </li>
    <% end %>
</ul>
