<h1> <%= @department.stores %> </h1>
<hr />
<p> Items </p>

<%= link_to 'View Items', department_items_path(@department) %>
<br />
<%= link_to 'Edit Department', edit_department_path(@department) %>
<br />
<%= link_to 'Delete Department', @department, method: :delete %> 
